.movies-body {
    display: flex;
    width: 1050px;
    margin: 0 auto;
    background: #ffffff;
    min-height: 100vh;
    height: 100%;

    flex-direction: column;
}

.ant-pagination {
    text-align: center;
    padding-bottom: 10px;
}

.not-found {
    display: block;
    margin: 50px 0 0 400px;
    height: 100%;
}

.search {
    margin: 0;
    font-family: 'Inter', sans-serif;
    align-self: center;
}

.search__tab-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.search__tab-label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 53px;
    width: 65px;
    border-bottom: 1px solid #D9D9D9;
}

.search__tab {
    display: none;
}

.search__tab-label:has(input[type=radio]:checked)  {
    color: #1890FF;
    border-bottom: 2px solid #1890FF;
}

.search__field {
    width: 938px;
    height: 35px;
    margin: 0;
    padding: 0 0 0 10px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
}

.search__field:focus {
    outline: 2px solid #1890FF;
    border-color: rgba(255,255,255,0%);
}
